<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guoguo.murongqing.dao.zhongyao.CategoryDao">

    <resultMap id="CategoryResult" type="Category">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="addTime" column="add_time"/>
        <result property="delete" column="delete"/>
    </resultMap>

    <sql id="murongqing_category_columns">
		murongqing_category.id,
		murongqing_category.name,
		murongqing_category.add_time,
		murongqing_category.delete
	</sql>

    <sql id="murongqing_category_properties">
		#{id},
		#{name},
		now(),
		0
	</sql>

    <sql id="murongqing_category_common_columns">
		murongqing_category.id,
		murongqing_category.name
	</sql>

    <insert id="addCategory" useGeneratedKeys="true" keyProperty="id">
        insert into murongqing_category(`name`,add_time,`delete`) value(#{name},now(),0)
    </insert>

    <update id="updateCategory">
        update murongqing_category set
        `name`=#{name}
        where id=#{id}
    </update>

    <update id="updateCategoryDeleteByIds">
        update murongqing_category set
        `delete`=#{delete}
        where `delete`=0
        and id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="getCategoryList" resultMap="CategoryResult">
        select <include refid="murongqing_category_common_columns"/> from murongqing_category
        <where>
            `delete`=0
            <if test="name!=null">
                and `name` like CONCAT('%',#{name},'%')
            </if>
        </where>

    </select>
    
    <select id="getCategoryById" resultMap="CategoryResult">
        select <include refid="murongqing_category_common_columns"/> from murongqing_category where id=#{id} and `delete`=0
    </select>

    <select id="getCategoryAll" resultMap="CategoryResult">
        select <include refid="murongqing_category_common_columns"/> from murongqing_category where `delete`=0
    </select>
    <select id="getCategoryByName" resultType="java.lang.Long">
        select id from murongqing_category where `name`=#{value}
    </select>
</mapper>