<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guoguo.fengyulou.dao.task.label.TaskLabelDao">
    <insert id="insertTaskLabel">
        insert into fengyulou_task_label(`name`) values (#{name})
    </insert>
    <update id="updateTaskLabelById">
        update fengyulou_task_label set `name`=#{name} where id=#{id}
    </update>
    <update id="deleteTaskLabelByIds">
        update fengyulou_task_label set `delete`=1 where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="getTaskLabelList" resultType="com.guoguo.fengyulou.entity.task.label.TaskLabel">
        select id,`name` from fengyulou_task_label
        <where>
            `delete`=0
            <if test="name!=null and name!=''">
                and `name` like CONCAT('%',#{name},'%')
            </if>
        </where>
        order by id desc
    </select>
    <select id="getTaskLabelById" resultType="com.guoguo.fengyulou.entity.task.label.TaskLabel">
        select id,`name` from fengyulou_task_label where id=#{id} limit 1
    </select>
    <select id="getTaskLabelCountByName" resultType="java.lang.Integer">
        select ifnull(count(1),0) from fengyulou_task_label where `name`=#{name}
    </select>
    <select id="getTaskLabelCountByTaskLabel" resultType="java.lang.Integer">
        select ifnull(count(1),0) from fengyulou_task_label where `name`=#{name} and id!=#{id}
    </select>
</mapper>