<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guoguo.fengyulou.dao.member.label.MemberLabelDao">
    <insert id="insertMemberLabel">
        insert into fengyulou_member_label(`name`) values (#{name})
    </insert>
    <update id="deleteMemberLabelByIds">
        update fengyulou_member_label set `delete`=1 where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <update id="updateMemberLabelById">
        update fengyulou_member_label set `name`=#{name} where id=#{id}
    </update>

    <select id="getMemberLabelList" resultType="com.guoguo.fengyulou.entity.member.label.MemberLabel">
        select id,`name` from fengyulou_member_label
        <where>
            `delete`=0
            <if test="name!=null and name!=''">
                and `name` like concat('%',#{name},'%')
            </if>
        </where>
        order by id desc
    </select>
    <select id="getMemberLabelById" resultType="com.guoguo.fengyulou.entity.member.label.MemberLabel">
        select id,`name` from fengyulou_member_label where id=#{id} limit 1
    </select>
    <select id="getMemberLabelCountByMemberLabel" resultType="java.lang.Integer">
        select ifnull(count(1),0) from fengyulou_member_label where `name`=#{name} and id!=#{id}
    </select>
    <select id="getMemberLabelCountByName" resultType="java.lang.Integer">
        select ifnull(count(1),0) from fengyulou_member_label where `name`=#{name}
    </select>
</mapper>