<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guoguo.murongqing.dao.prescription.PrescriptionDao">
    <insert id="addPrescription" useGeneratedKeys="true" keyProperty="id">
        insert into murongqing_prescription(`name`,add_time,`number`)
        values(#{name},now(),#{number})
    </insert>
    <update id="updatePrescriptionName">
        update murongqing_prescription set `name`=#{name} where id=#{id}
    </update>
    <update id="updateStatus">
        update murongqing_prescription set status=1 where id=#{value}
    </update>
    <delete id="delPrescription">
        update murongqing_prescription set `delete`=1 where id in
        <foreach collection="array" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <select id="getPrescriptionList" resultType="com.guoguo.murongqing.entity.prescription.Prescription">
        select id,`name`,`number`,status from murongqing_prescription where `delete`=0 order by id desc
    </select>
    <select id="getPrescriptionById" resultType="com.guoguo.murongqing.entity.prescription.Prescription">
        select id,`name`,`number`,status from murongqing_prescription where id=#{id}
    </select>
</mapper>